* {

    margin: 0;
    padding: 0;
}

.Contact {

    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 100vh; 
    position: relative;
}


.Image-Container {

    border: 1px solid black;
    width: 550px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 5%;
}


.black-pic {

    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}


.Contact-Us {

    position: absolute;
    top: 21%;
    left: 48%;
}


.text-contact {

    font-size: 6rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
}


.Contact-Container {

    position: absolute;
    top: 45%;
    left: 48%;
    border: 2px solid rgb(0, 0, 0);
    height: 500px;
    width: 788px;
}


.Conact-Form-Container {

    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 100px;
}


.input-fields {

    position: relative;
    margin-bottom: 60px;
}


.input-fields input {

    padding: 10px 20px;
    font-size: 15px;
}


.input-fields label {

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    padding: 0 4px;
    transition: 0.2s ease;
}


.input-fields input:focus + label,
.input-fields input:not(:placeholder-shown) + label,
.input-fields textarea:focus + label,
.input-fields textarea:not(:placeholder-shown) + label {
  top: -15px;
  font-size: 18px;
  color: #1976d2;
}


.input-fields textarea {

    padding: 10px 20px;
    font-size: 15px;
    max-width: fit-content;
}


.button {

    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}


.button button {

    padding: 15px 50px;
    border: none;
    background-color: rgb(79, 195, 247);
    color: #fff;
    border-radius: 6px;
}


